[submodule "packages/renderer"]
	path = packages/renderer
	url = https://github.com/michaeldouglas319/dds-renderer.git
[submodule "apps/michaeldouglas-app"]
	path = apps/michaeldouglas-app
	url = https://github.com/michaeldouglas319/dds-v3.git
